*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bangers',cursive;
}
canvas {
    background: rgb(29, 8, 36);
    position: absolute;
    top:0;
    left: 0;
}
input{
    position: absolute;
    width: 100%;
    padding: 10px;
    margin: 10px;
}